In [1]:
import pandas as pd

In [5]:
collection_df = pd.read_csv('../Voca/Vocaset/collection_infos.csv')
collection_df.head()

,Title,Subtitle,Description,Thumbnail Link,Book Purchase Link,Author,Category,Link,ID
0,Bunnicula,NaN,"In this classic novel, Chester the cat is conv...",https://cdn.vocabulary.com/units/22f5x52u/cove...,https://www.amazon.com/dp/1416928170?tag=vocab...,Deborah Howe,"Grade 6,Grade 7,Grade 8,Literature,Just for Fun",/lists/22f5x52u/bunnicula,1
1,Ripped from the Headlines: February 2025,Our Weekly Roundups of Current Events Vocabulary,"Each week, we peruse the news to give you a wo...",https://cdn.vocabulary.com/units/23diw7dx/feat...,NaN,NaN,Events,/lists/23diw7dx/ripped-from-the-headlines-febr...,2
2,Travel and Transportation,NaN,"With a strong grasp of travel vocabulary, you'...",https://cdn.vocabulary.com/units/242oy3um/feat...,NaN,NaN,Test-Prep,/lists/242oy3um/ielts-exam-travel-and-transpor...,3
3,The Life and Crimes of Hoodie Rosen,NaN,"Following a wave of antisemitic attacks, fifte...",https://cdn.vocabulary.com/units/24bju2wr/cove...,https://www.amazon.com/dp/0593525825?tag=vocab...,Isaac Blum,Literature,/lists/24bju2wr/life-and-crimes-of-hoodie-rosen,4
4,Saints of the Household,NaN,Descendants of the Bribri tribe from Costa Ric...,https://cdn.vocabulary.com/units/24ththlj/cove...,https://www.amazon.com/dp/0374389497?tag=vocab...,Ari Tison,Literature,/lists/24ththlj/saints-of-the-household,5

In [6]:
# Retain only experiment features
collection_df = collection_df[["ID", "Title", "Description", "Category"]]
collection_df.head(2)

,ID,Title,Description,Category
0,1,Bunnicula,"In this classic novel, Chester the cat is conv...","Grade 6,Grade 7,Grade 8,Literature,Just for Fun"
1,2,Ripped from the Headlines: February 2025,"Each week, we peruse the news to give you a wo...",Events

# 1. Clean data

In [10]:
# Lowercase the description
collection_df["Description"] = collection_df["Description"].apply(lambda x: x.lower())

# Remove special characters
collection_df["Description"] = collection_df["Description"].str.replace(r"[^a-zA-Z0-9\s]", "", regex=True)

In [11]:
collection_df["Categories"] = collection_df["Category"].apply(lambda x: x.split(","))
collection_df.head(2)

,ID,Title,Description,Category,Categories
0,1,Bunnicula,in this classic novel chester the cat is convi...,"Grade 6,Grade 7,Grade 8,Literature,Just for Fun","[Grade 6, Grade 7, Grade 8, Literature, Just f..."
1,2,Ripped from the Headlines: February 2025,each week we peruse the news to give you a wor...,Events,[Events]

# 2. Extract features

## 2.1. Description feature

## 2.2. Category feature

## 2.3. Combine feature

# 3. Inference